*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.col-1{
    width: 8.33%;
    float: left;
}
.col-2{
    width: 16.66%;
    float: left;
}
.col-3{
    width: 25%;
    float: left;
}
.col-4{
    width: 33.33%;
    float: left;
}
.col-5{
    width: 41.66%;
    float: left;
}
.col-6{
    width: 50%;
    float: left;
}
.col-7{
    width: 58.33%;
    float: left;
}
.col-8{
    width: 66.66%;
    float: left;
}
.col-9{
    width: 75%;
    float: left;
}
.col-10{
    width: 83.33%;
    float: left;
}
.col-11{
    width: 91.66%;
    float: left;
}
.col-12{
    width: 100%;
    float: left;
}

header{
    padding: 15px 0px;
}
.clear{
    clear: both;
}
.logo{
    float: left;
}
ul{
    list-style-type:none;
}
.menu ul{
    float: left;
}
.menu ul li{
    float: left;
    margin: 0px 20px;
    font-weight: 900;
    line-height: 3.5;
}

.location{
    float: right;
    
}
.location p , button{
    float: left;
    margin: 0px 25px;
    line-height: 3.5;
}
button{
    padding: 7px 20px;
    border: 1px solid black;
    border-radius: 20px;
    background:transparent
}