html{
    font-size: 20px;
} 

/* html{
    font-size: 25px;
} */

/* .box{
    background-color: chartreuse;
}
.box p,h2{
    font-size: 3em;
} */

.box-1{
    width:50%;
    height: 50vh;
    background-color: cyan;
}